body {
  background: rgba(204, 198, 171, 0.2);
}

.App-header {
  margin: 50px 0;
  text-align: left;
  font-size: 68px;
  font-family: "Baskervville", serif;
  color: rgb(233, 67, 102);
}

.structure {
  max-width: 350px;
  height: 350px;
  background-color: rgb(233, 67, 102, 0.1);
  font-family: "Baskervville", serif;
  display: block;
  margin: 60px auto;
  box-shadow: 0 1px 1px rgba(233, 67, 102, 0.25),
    0 2px 2px rgba(233, 67, 102, 0.2), 0 4px 4px rgba(233, 67, 102, 0.15),
    0 8px 8px rgba(233, 67, 102, 0.1), 0 16px 16px rgba(233, 67, 102, 0.05);
  border-radius: 200px;
}

.App-footer {
  text-align: center;
  font-family: "Cormorant Infant", serif;
  padding-top: 10px;
}
