input[type="search"] {
  background-color: rgba(246, 202, 205, 0.1);
  border: none;
  box-shadow: none;
  outline: none;
  transition: width 0.4s ease-in-out;
  width: 250px;
  display: block;
  margin: 30px auto;
  font-family: "Cormorant Infant", serif;
}

::placeholder {
  color: rgb(233, 67, 102);
  text-align: center;
}

.subHeader {
  color: #468e49;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  padding-top: 130px;
  margin-top: -10px;
  font-family: "Baskervville", serif;
}

.dictionary section {
  padding: 30px;
  border: none;
  border-radius: none;
  margin-bottom: 30px;
  display: block;
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 25px;
  text-align: left;
  color: #6a6a6a;
}

a {
  color: rgb(233, 67, 102);
  text-decoration: none;
}

a:hover {
  color: #555555;
}
