h3 {
  color: rgb(233, 67, 102);
  font-size: 34px;
  font-family: "Baskervville", serif;
  line-height: 1.5;
}

.example {
  font-style: italic;
  font-size: 14px;
  opacity: 0.7;
  margin-top: 5px;
}
