hr {
  width: 100%;
  color: #468e49;
  height: 30px;
  margin-left: auto;
  font-family: "Cormorant Infant", serif;
}

h2 {
  text-align: right;
  font-size: 78px;
  font-family: "Cormorant Infant", serif;
  color: #468e49;
}

.classAndPhonetic {
  text-align: right;
  padding-top: 10px;
  color: #468e49;
}
